	body {
		background-color: plum;
		margin: 50px 50px 5px 50px;
	} 
	
	blockquote {
		border-right: none;
		border-left: none;
	}

	.padding10 {
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
	}

	.sombra {
		box-shadow: 10px 10px 5px;
	}
	
	.whiteText {
		color: white;
	}
	
/* Botones */

	#getQuote {
		float: right;
	}

	#twit {
		float: left;
	}